.searched-recipes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searched-recipes-title {
    color: #96BB36;
    font-size: 27px;
    font-family: cursive;
    width: 310px;
}

.searched-recipes-container-line {
    width: 100%;
    border: 1px solid #EFEEEA;
    margin-left: 10px;
}

.searched-recipes-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%;
}

.searched-recipes-list-item {
    margin: '0 5px';
    flex-basis: 30%;
    margin-bottom: 20px;
}