.home-container,
.home-container-most-popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-title,
.home-title-most-popular {
    color: #96BB36;
    font-size: 27px;
    font-family: cursive;
}

.home-title {
    width: 210px;
}

.home-title-most-popular {
    width: 390px;
}

.home-container-line,
.home-container-most-popular-line {
    width: 100%;
    border: 1px solid #EFEEEA;
    margin-left: 10px;
}

.home-list,
.home-most-popular-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5%;
}

.home-list-item,
.home-most-popular-list-item {
    margin: '0 5px';
    flex-basis: 30%;
    margin-bottom: 20px;
}